<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="offcanvas__logo">
    <a href="./index.html"
      ><img src="../../assets/img/oie_MzuXiqUi7uIZ.jpg" alt=""
    /></a>
  </div>
  <div id="mobile-menu-wrap"></div>
  <div class="offcanvas__btn">
    <a href="#" class="primary-btn">Appointment</a>
  </div>
  <ul class="offcanvas__widget">
    <li><i class="fa fa-phone"></i> 1-677-124-44227</li>
    <li>
      <i class="fa fa-map-marker"></i> 12, Waltair Main Road, Nehru Nagar,
      Jagadamba Junction, Visakhapatnam, Andhra Pradesh, India
    </li>
    <li><i class="fa fa-clock-o"></i> Mon to Sat 9:00am to 18:00pm</li>
  </ul>
  <div class="offcanvas__social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-dribbble"></i></a>
  </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <ul class="header__top__left">
            <li><i class="fa fa-phone"></i> 1-677-124-44227</li>
            <li>
              <i class="fa fa-map-marker"></i> Los Angeles Gournadi, 1230
              Bariasl
            </li>
            <li><i class="fa fa-clock-o"></i> Mon to Sat 9:00am to 18:00pm</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <div class="header__top__right">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="header__logo">
          <a href="./index.html"
            ><img src="../../assets/img/oie_MzuXiqUi7uIZ.jpg" alt=""
          /></a>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="header__menu__option">
          <nav class="header__menu">
            <ul>
              <li><a href="./index.html">Home</a></li>
              <li class="active"><a href="./about.html">About Us</a></li>
              <li><a href="./services.html">Appointment/Consultation</a></li>
              <!-- <li>
                <a href="#">Pages</a>
                <ul class="dropdown">
                  <li><a href="./pricing.html">Pricing</a></li>
                  <li><a href="./doctor.html">Doctor</a></li>
                  <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
              </li> -->
              <li><a href="./blog.html">Training Sessions</a></li>
              <li><a href="./contact.html">Contact Us</a></li>
            </ul>
          </nav>
          <div class="header__btn">
            <a href="#" class="primary-btn">Appointment</a>
          </div>
        </div>
      </div>
    </div>
    <div class="canvas__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section
  class="breadcrumb-option spad set-bg"
  style="
    background-image: url(https://image1.jdomni.in/banner/26052020/0D/A9/81/4784BD6D6E5896C0A5046BE7EA_1590485203309.webp);
    background-position: bottom;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>About Us</h2>
          <div class="breadcrumb__links">
            <a href="./index.html">Home</a>
            <span>About</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- About Section Begin -->
<section class="about spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="about__video set-bg" data-setbg="img/about-video.jpg">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/8HslUzw35mc"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="about__video set-bg" data-setbg="img/about-video.jpg">
          <img
            style="max-width: 48%"
            src="../../assets/img/pexels-karolina-grabowska-4871291.jpg"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="about__text">
          <div class="section-title">
            <span>ABOUT OUR CLINIC</span>
            <h2>Welcom to Chandra Homeocare</h2>
          </div>
          <p>
            Chandra Homeocare is led by Dr Madhuri Balivada and a small team of
            dedicated and experienced Homoeopaths. It is supported by field
            experts with excellence in alternate healing methods across globe.
          </p>
          <p>
            It is a kind of one stop solution to patient seeking health solution
            with best of homeopathic Practices. The idea is to offer holistic
            healthcare solutions supporting the overall well-being of patients
            who seek homeopathy as preferred medium of treatment. Chandra
            Homeocare practices the very important idea introduced by Hahnemann
            and this is what which causes homeopathy to differ from conventional
            medicine is “individualising”. He maintained that there are no
            diseases, but only patients, and therefore a treatment must aim at
            treating the individual rather than the disease.
          </p>

          <p>
            According to this idea, ten patients suffering from the same
            ‘disease’, for example epilepsy, will probably each require a
            separate pharmaceutical substance, unless the symptoms of two or
            three of them are identical down to the last detail, a rare but not
            impossible situation.
          </p>
          <a href="#" class="primary-btn normal-btn">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Chooseus Section Begin -->
<section class="chooseus spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <span>Why choose us?</span>
          <h2>Offer for you</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="chooseus__item">
          <img src="../../assets/img/icons/ci-1.png" alt="" />
          <h5>Advanced equipment</h5>
          <p>
            Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor
            cididunt facilisis.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="chooseus__item">
          <img src="../../assets/img/icons/ci-2.png" alt="" />
          <h5>Qualified doctors</h5>
          <p>
            Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor
            cididunt facilisis.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="chooseus__item">
          <img src="../../assets/img/icons/ci-3.png" alt="" />
          <h5>Certified services</h5>
          <p>
            Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor
            cididunt facilisis.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="chooseus__item">
          <img src="../../assets/img/icons/ci-4.png" alt="" />
          <h5>Emergency care</h5>
          <p>
            Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor
            cididunt facilisis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Chooseus Section End -->

<!-- Testimonials Section Begin -->
<section class="testimonials spad">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="col-lg-12 text-center">
          <div class="section-title">
            <span>Why choose us?</span>
            <h2>Testimonials</h2>
          </div>
        </div>
        <div class="col-2 text-right">
          <a
            class="btn btn-primary mb-3 mr-1"
            href="#carouselExampleIndicators2"
            role="button"
            data-slide="prev"
          >
            <i class="fa fa-arrow-left"></i>
          </a>
          <a
            class="btn btn-primary mb-3"
            href="#carouselExampleIndicators2"
            role="button"
            data-slide="next"
          >
            <i class="fa fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="col-12">
        <div
          id="carouselExampleIndicators2"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="../../assets/img/186508129_4031594066937174_7585880570466275763_n.jpeg"
                    />
                    <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="../../assets/img/186510261_4031594133603834_642739806639633027_n.jpeg"
                    />
                    <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="../../assets/img/186508129_4031594066937174_7585880570466275763_n.jpeg"
                    />
                    <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="../../assets/img/186522456_4031594343603813_1238602194311043119_n.jpeg"
                    />
                    <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="../../assets/img/161833013_3859750840788165_4925802398942612771_n.jpeg"
                    />
                    <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="../../assets/img/186518815_4031594276937153_2997896782617623079_n.jpeg"
                    />
                    <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="../../assets/img/186517038_4031593806937200_2988849038217561479_n.jpeg"
                    />
                    <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="../../assets/img/164510205_3882321078531141_8068426820908571623_n.jpeg"
                    />
                    <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img
                      class="img-fluid"
                      alt="100%x280"
                      src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6"
                    />
                    <div class="card-body">
                      <h4 class="card-title">Special title treatment</h4>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials Section End -->

<section
  class="accordion-section clearfix mt-3"
  aria-label="Question Accordions"
>
  <div class="container">
    <div class="col-lg-12 text-center">
      <div class="section-title">
        <span>Frequently Asked Questions</span>
        <h2>FAQ's</h2>
      </div>
    </div>
    <div
      class="panel-group"
      id="accordion"
      role="tablist"
      aria-multiselectable="true"
    >
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
          <h3 class="panel-title">
            <a
              class="collapsed"
              role="button"
              title=""
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapse0"
              aria-expanded="true"
              aria-controls="collapse0"
            >
              What are the benefits of Solodev CMS?
            </a>
          </h3>
        </div>
        <div
          id="collapse0"
          class="panel-collapse collapse"
          role="tabpanel"
          aria-labelledby="heading0"
        >
          <div class="panel-body px-3 mb-4">
            <p>
              With Solodev CMS, you and your visitors will benefit from a
              finely-tuned technology stack that drives the highest levels of
              site performance, speed and engagement - and contributes more to
              your bottom line. Our users fell in love with:
            </p>
            <ul>
              <li>
                Light speed deployment on the most secure and stable cloud
                infrastructure available on the market.
              </li>
              <li>
                Scalability – pay for what you need today and add-on options as
                you grow.
              </li>
              <li>
                All of the bells and whistles of other enterprise CMS options
                but without the design limitations - this CMS simply lets you
                realize your creative visions.
              </li>
              <li>
                Amazing support backed by a team of Solodev pros – here when you
                need them.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
          <h3 class="panel-title">
            <a
              class="collapsed"
              role="button"
              title=""
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapse1"
              aria-expanded="true"
              aria-controls="collapse1"
            >
              How easy is it to build a website with Solodev CMS?
            </a>
          </h3>
        </div>
        <div
          id="collapse1"
          class="panel-collapse collapse"
          role="tabpanel"
          aria-labelledby="heading1"
        >
          <div class="panel-body px-3 mb-4">
            <p>
              Building a website is extremely easy. With a working knowledge of
              HTML and CSS you will be able to have a site up and running in no
              time.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
          <h3 class="panel-title">
            <a
              class="collapsed"
              role="button"
              title=""
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapse2"
              aria-expanded="true"
              aria-controls="collapse2"
            >
              What is the uptime for Solodev CMS?
            </a>
          </h3>
        </div>
        <div
          id="collapse2"
          class="panel-collapse collapse"
          role="tabpanel"
          aria-labelledby="heading2"
        >
          <div class="panel-body px-3 mb-4">
            <p>
              Using Amazon AWS technology which is an industry leader for
              reliability you will be able to experience an uptime in the
              vicinity of 99.95%.
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
          <h3 class="panel-title">
            <a
              class="collapsed"
              role="button"
              title=""
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapse3"
              aria-expanded="true"
              aria-controls="collapse3"
            >
              Can Solodev CMS handle multiple websites for my company?
            </a>
          </h3>
        </div>
        <div
          id="collapse3"
          class="panel-collapse collapse"
          role="tabpanel"
          aria-labelledby="heading3"
        >
          <div class="panel-body px-3 mb-4">
            <p>
              Yes, Solodev CMS is built to handle the needs of any size company.
              With our Multi-Site Management, you will be able to easily manage
              all of your websites.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team Section Begin -->
<section class="team spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <span>Our Team</span>
          <h2>Our Expert Doctors</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="team__item">
          <img
            src="../../assets/img/56672993_2216535011776431_5850576584863383552_n.jpeg"
            alt=""
          />
          <h5>Dr.Madhuri Balivada</h5>
          <span>@drbmadhuri · Doctor</span>
          <div class="team__item__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="team__item">
          <img
            src="../../assets/img/56672993_2216535011776431_5850576584863383552_n.jpeg"
            alt=""
          />
          <h5>Dr.Madhuri Balivada</h5>
          <span>@drbmadhuri · Doctor</span>
          <div class="team__item__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="team__item">
          <img
            src="../../assets/img/56672993_2216535011776431_5850576584863383552_n.jpeg"
            alt=""
          />
          <h5>Dr.Madhuri Balivada</h5>
          <span>@drbmadhuri · Doctor</span>
          <div class="team__item__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="footer__logo">
            <a href="#"><img src="img/footer-logo.png" alt="" /></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-8">
          <div class="footer__newslatter">
            <form action="#">
              <input type="text" placeholder="Email" />
              <button type="submit" class="site-btn">Subscribe</button>
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="footer__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer__widget">
          <h5>Company</h5>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Departments</a></li>
            <li><a href="#">Find a Doctor</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">News</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="footer__widget">
          <h5>Quick links</h5>
          <ul>
            <li><a href="#">Facial Fillers</a></li>
            <li><a href="#">Breast Surgery</a></li>
            <li><a href="#">Body Lifts</a></li>
            <li><a href="#">Face & Neck</a></li>
            <li><a href="#">Fat Reduction</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__address">
          <h5>Contact Us</h5>
          <ul>
            <li>
              <i class="fa fa-map-marker"></i> Los Angeles Gournadi, 1230
              Bariasl
            </li>
            <li><i class="fa fa-phone"></i> 1-677-124-44227</li>
            <li><i class="fa fa-envelope"></i> Support@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-6">
        <div class="footer__map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48158.305462977965!2d-74.13283844036356!3d41.02757295168286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e440473470d7%3A0xcaf503ca2ee57958!2sSaddle%20River%2C%20NJ%2007458%2C%20USA!5e0!3m2!1sen!2sbd!4v1575917275626!5m2!1sen!2sbd"
            height="190"
            style="border: 0"
            allowfullscreen=""
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <div class="footer__copyright__text">
            <p>
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="fa fa-heart" aria-hidden="true"></i> by
              <a href="https://colorlib.com" target="_blank">Colorlib</a>
            </p>
          </div>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
        <div class="col-lg-5">
          <ul>
            <li>All Rights Reserved</li>
            <li>Terms & Use</li>
            <li>Privacy Policy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
